[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HCUPtools"]
	path = HCUPtools
	url = https://github.com/vikrant31/hcuptools
[submodule "privacyR"]
	path = privacyR
	url = https://github.com/vikrant31/privacyr
